*{
    margin: 0;
    padding: 0;
    font-family: 'Karla',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}
a{
    color: white;
    text-decoration: none;
}

header,footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:56px;
    align-items: center;
    position: fixed;
    background: rgb(0,0,0,0.9);
    color: white;
    padding: 0 1.2em;
    text-align: center;
}
header a:hover,footer a:hover{
    color: white;
}
header{
    top: 0;
    box-shadow: 0 2px 2px  gray;
    z-index: 10;
    font-size: 1em;
}
footer{
    bottom: 0;
    box-shadow: 0 -1px 2px gray;
    z-index: 9;
} 
footer div{
    cursor: pointer;
}
header .logo{
    font-family: againts;
    font-size: 1.3em;
    cursor: pointer;
}
footer a{
    font-size: 1.5em;
    color: rgb(156, 145, 145);
}
footer p{
    font-size:0.7rem;
}
main{
    position: relative;
    top: 56px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: calc(100vh - 112px);
}
main section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(233, 217, 217);
}
.user a{
    margin: 0 0.5em;
}
.section-a{
    background: url("/static/back.jpg") no-repeat center center/cover;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section-a h1{
    font-size: 1.9em;
    font-family: 'Proza Libre', sans-serif;
    font-weight: bolder;
}
.section-a p{
    font-size: 0.9rem;
    padding: 0.5em 2em;
}
.explore-button{
    background: rgb(34, 15, 33);
    padding: 0.5em;
    width: 170px;
    border-radius: 5px;
    box-shadow: 0px 5px;
    font-size: 1.2em; 
    cursor: pointer;
    margin-bottom: 8em;
    height: 40px;
}
.explore-button:hover{
    background:rgb(51, 23, 50);
}
.explore-button:active{
    box-shadow: 0px 2px;
}
.section-a,.section-b, .section-c, .section-d{
    display: none;
}
.active{
    display: flex;
} 
.active-button a{
    color: white;
}
.section-b{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

@media screen and (min-width:800px){
    main section{
        font-size: 1.4em;
    }
    .explore-button{
        height: 60px;
        margin-bottom: 2em;
    }
}