{% extends "layout.html" %}

{% block title %}
: Explore
{% endblock %}
{% block main %}
<section class="section-b">
    <!-- <div class="search"> -->
        <form action="/explore" class="search" method="POST">
            <input type="text" name="booksearch"  placeholder="Search Books, Authors ..."  />
           <button type="submit"><a href="#"><i class="fas fa-search"></i></a></button>
        </form>
    <!-- </div> -->
    <div class="books">
        {% for book in  books %}
        <div class="book">
            <div class="details-cover">
                <div class="cover">
                    <img src="{{ book['imageLinks']['smallThumbnail'] }}" alt="Cover" width="80" height="100" />
                </div>
                <div class="details">
                    <a href="#" class="title">{{ book['title'] }}</a>
                    <p class="author">By {{ book['authors'][0] }}</p>
                    <p class="rating">Rating : {{ book['averageRating'] }} out of ({{ book['ratingsCount'] }}) ratings</p>
                    <p class="pages">{{ book['pageCount'] }} Pages</p>
                </div>
            </div>
            <div class="description">
                <a class="more-button">More:</a>
                <p class="desci">
                    {{ book['description'] }}
                </p>
            </div>

        </div>
        {% endfor %}
    </div>
    <div class="attribution">
        Data Powered By  &nbsp<a href="https://developers.google.com/books/" target="blank"><i class="fab fa-google"></i>oogle Books</a>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
const book = document.querySelectorAll('.book');
const more = document.querySelectorAll('.more-button');
const desci = document.querySelectorAll('.desci');
for(let i=0;i<more.length;i++){
    more[i].addEventListener('click',()=>{
        if(desci[i].style.display == "none"){
            desci[i].style.display = "block";
            more[i].innerHTML = "Less:"
        }
        else{
            desci[i].style.display = "none"
            more[i].innerHTML = "More:"
        }
    })
}
console.log(book)
</script>
{% endblock %}