{% extends "layout.html" %}

{% block head %}
<meta property="og:title" content="Let's Read" />
    <meta property="og:url" content="https://startreading.herokuapp.com" />
    <meta
      property="og:description"
      content="An Online Book Management System."
    />
    <meta property="og:image" content="https://insane.imfast.io/letsread.png" />
{% endblock %}
{% block title %}
{% endblock %}

<style>
    footer a{
        color: aliceblue;
    }
</style>

{% block user %}
    {% if not session.get("user_id") %}
        <div class="user">
            <a href="/signup" aria-label="Sign Up">Sign Up</a>
            <a href="/login" aria-label="Login">Login</a>
        </div>
    {% else %}
    <div class="user">
        <a href="/" aria-label="Hi User">Hi, {{ name }}</a>
        <a href="/logout" aria-label="Logout">Log Out</a>
    </div>
    {% endif %}
{% endblock %}

{% block main %}

{% if not session.get("user_id") %}
<section class="section-a active">
    <div class="headline">
        <h1>Let's Start & Don't Stop,<br>Reading.</h1>
        <p>Explore your own e-library, manage your books on go.</p>
    </div>
    <div class="explore-button">
        <a href="/signup" aria-label="Sign Up">Sign Up</a>
    </div>
</section>
{% else %}
<section class="section-a active">
    <div class="headline">
        <h1>Welcome to let's read</h1>
        <p>Explore your own e-library, manage your books on go.</p>
    </div>
    <div class="explore-button">
        <a href="/shelf" aria-label="BookShelf">My Books</a>
    </div>
</section>
{% endif %}
{% endblock %}

{% block footer %}
<div class="home active-button">
        <a href="/" aria-label="Home"><i class="fas fa-home"></i></a>
        <p>Home</p>
    </div>
    <div class="explore">
        <a href="/explore" aria-label="Search Books"><i class="fas fa-search"></i></a>
        <p>Search</p>
    </div>
    <div class="shelf">
        <a href="/shelf" aria-label="BookShelf"><i class="fas fa-book-open"></i></a>
        <p>Books</p>
    </div>
    <div class="best-seller">
        <a href="/bestseller" aria-label="Bestsellers"><i class="fas fa-poll"></i></a>
        <p>Bestseller</p>
    </div>
    <div class="quotes">
        <a href="/quote" aria-label="Quotes"><i class="fas fa-quote-left"></i></a>
        <p>Quotes</p>
    </div>
{% endblock  %}
