<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's Read</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="container">
      <header>
        <div class="logo">
            Let's Read
        </div>
        <div class="user">
            <a href="signup">Sign Up</a>
            <a href="login">Login</a>
            <a href="#"><i class="fas fa-user"></i></a>
        </div>
      </header>
      <main>
        <section class="section-a">
            <div class="headline">
                    <h1>Let's Start & Don't Stop.<br>Reading.</h1>
                    <p>Explore your own e-library, manage your books on go and get personalised recommendation.</p>        
            </div>
            <div class="explore-button">
                <a href="#">Explore</a>
            </div>
        </section>
        <section class="section-b active">
            <div class="search">
                <input type="text">
            </div>
            <div class="books">
                + Search for the book
            </div>
        </section>
        <section class="section-c">
            BestSeller
        </section>
        <section class="section-d">
            Quotes here
        </section>
      </main>
      <footer>
        <div class="home active-button">
            <a href="#"><i class="fas fa-home"></i></a>
            <p>Home</p>
        </div>
        <div class="explore">
            <a href="#"><i class="fas fa-search"></i></a>
            <p>Search</p>
        </div>
        <div class="best-seller">
            <a href="#"><i class="fas fa-poll"></i></a>
            <p>Bestseller</p>
        </div>
        <div class="quotes">
            <a href="#"><i class="fas fa-quote-left"></i></a>
            <p>Quotes</p>
        </div>
      </footer>
  </div>  
  <script src="/static/main.js"></script>
</body>

</html>