<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145075360-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145075360-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111">
    <meta property="og:title" content="Let's Read" />
    <meta property="og:url" content="https://startreading.herokuapp.com/" />
    <meta
      property="og:description"
      content="An Online Book Management System. Find and add Books you Love to your Shelf."
    />
    <meta property="og:image" content="https://raw.githubusercontent.com/aditya-pandey/letsread/master/letsread%20(2).png" />
    <title>Let's Read {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/c-d.css">
    <link rel='manifest' href='/static/manifest.json'>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/" aria-label="Home">Let's Read</a>
            </div>
            {% block user %}
            {% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block footer %}

            {% endblock %}
        </footer>
    </div>
    <script src="/static/main.js"></script>
    <script src="/static/app.js"></script>
    {% block script %}
    {% endblock %}
</body>

</html>
