<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111">
    <meta name="Description" content="A Book Management System">
    <title>Lets's Read : Sign Up</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/sign-up.css">
</head>

<body>
    <div class="cover-s">
        <div class="login-message">
            <p>New Here? <a href="/signup" aria-label="Sign Up">Sign Up</a></p>
        </div>
        <div class="wrapper">
            <div class="heading">
                <h2>Welcome Back To Let's Read</h2>
                <p>Log In to your account</p>
            </div>
            <div class="signup-form">
                <form action="" method="post">
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="password" id="" placeholder="Password">
                    <button type="submit">Log In</button>
                    <button><a href="/" aria-label="Back to home">Back to Home</a></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>