{% extends "layout.html" %}

{% block title %}
: Quotes
{% endblock %}
{% block user %}
    {% if not session.get("user_id") %}
        <div class="user">
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </div>
    {% else %}
    <div class="user">
        <a href="/signup">Hi, {{ name }}</a>
        <a href="/logout">Log Out</a>
    </div>
    {% endif %}
{% endblock %}
{% block main %}
<section class="section-d">
    <div class="quote-box">
        <div class="quote">
            <p>"Once you learn to read, you will be forever free."</p>
        </div>
        <button class="quote-changer">New Quote</button>
    </div>
</section>
{% endblock %}
{% block footer %}
<div class="home">
        <a href="/"><i class="fas fa-home"></i></a>
        <p>Home</p>
    </div>
    <div class="explore">
        <a href="/explore"><i class="fas fa-search"></i></a>
        <p>Search</p>
    </div>
    <div class="shelf">
        <a href="/shelf"><i class="fas fa-book-open"></i></a>
        <p>Books</p>
    </div>
    <div class="best-seller">
        <a href="/bestseller"><i class="fas fa-poll"></i></a>
        <p>Bestseller</p>
    </div>
    <div class="quotes active-button">
        <a href="/quote"><i class="fas fa-quote-left"></i></a>
        <p>Quotes</p>
    </div>
{% endblock  %}
{% block script %}
<script>
    const quoteDisplay = document.querySelector('.quote');
    const quoteBox = document.querySelector('.quote-box');
    const quoteChanger = document.querySelector('.quote-changer');

    quoteChanger.addEventListener('click', getQuote);
</script>
{% endblock %}