<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lets's Read : Sign Up</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/sign-up.css">
</head>

<body>
    <div class="cover-s">
        <div class="login-message">
            <p>Already have an account? <a href="/login" aria-label="Login">Log In</a></p>
        </div>
        <div class="wrapper">
            <div class="heading">
                <h2>Welcome To Let's Read</h2>
                <p>Let's create your account</p>
            </div>

            <div class="signup-form">
                <form action="" method="post">
                    <input type="text" placeholder="Username" name="username" autocomplete="none">
                    <input type="text" placeholder="Name" name="name" autocomplete="none">
                    <input type="email" name="email" placeholder="Email Address" autocomplete="none">
                    <input type="password" name="password" placeholder="Password" autocomplete="none">
                    <input type="password" name="confirm" placeholder="Confirm Password" autocomplete="none">
                    <button type="submit" value="Create Account">Create Account</button>
                    <button><a href="/" aria-label="Back to home">Back to Home</a></button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>