<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/sign-up.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="cover">
        <div class="login-message">
            <p>Already have an account? <a href="/login">Log In</a></p>
        </div>
        <div class="wrapper">
        <div class="heading">
            <h2>Welcome To Let's Read</h2>
            <p>Let's create your account</p>
        </div>

        <div class="signup-form">
            <form action="" method="post">
                <input type="text" placeholder="Name">
                <input type="email" name="" id="" placeholder="Email Address">
                <input type="password" name="" id="" placeholder="Password">
                <button type="submit" value="Create Account">Create Account</button>
                <button><a href="/">Back to Home</a></button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>