<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="A Book Management System">
    <title>Lets's Read : Sign Up</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/sign-up.css">
</head>

<body>
    <div class="cover-s">
        <div class="login-message">
            <p><a href="/" aria-label="Back to home">Back to Home</a></p>
        </div>
        <div class="wrapper">
            <div class="heading">
                <h2>Welcome To Let's Read</h2>
                <p>Let's create your account</p>
            </div>

            <div class="signup-form">
                <form action="" method="post">
                    <input type="text" placeholder="Username" name="username" minlength="3" required autocomplete="none">
                    <input type="text" placeholder="Name" name="name" autocomplete="none" minlength="3" required>
                    <input type="email" name="email" placeholder="Email Address" autocomplete="none" required>
                    <input type="password" name="password" placeholder="Password (Minimum 6 characters)" minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="none" required>
                    <input type="password" name="confirm" placeholder="Confirm Password" autocomplete="none" required>
                    <button type="submit" value="Create Account">Create Account</button>
                    <button><a href="/login" aria-label="Login">Log In</a></button>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>

</html>